.idea/.name
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/wp-impressum.iml
.idea/scopes/scope_settings.xml
.idea/codeStyleSettings.xml
.idea/impressum-manager.iml
.idea/php.xml
